<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
        <h5>{{tituloInput}}</h5>
        <input [disabled]="sinInput" type="number" name="entrevista" class="form-control" #entrevista placeholder="Añadir" [(ngModel)]="numero">
        <button [disabled]="sinInput" class="btn btn-primary" (click)="addEntrevista(numero)">Añadir algo</button>

    </div>
</div>