<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Menú de creación de trabajadores</h4>
                <h6 class="card-subtitle">Sin juniors no hay seniors</h6>
                <form class="form-horizontal p-t-20" [formGroup]="trabajadorForm" (ngSubmit)="guardar()">
                    <div class="form-group row" *ngIf="trabajadorSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Imagen</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="trabajadorSeleccionado.img | imagen:'trabajadores'" class="imagen-med" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="" formControlName="nombre" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Empresa</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-world"></i></div>
                                <select class="form-control" formControlName="empresa" name="" id="">
                                    <option value="">Seleccione Empresa</option>
                                    <option *ngFor="let item of empresas"  [value]="item._id">{{item.nombre}}</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" [disabled]="trabajadorForm.invalid" class="btn btn-success waves-effect waves-light"><i class="ti-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col animated fadeIn fast" *ngIf="empresaSeleccionada">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Empresa</h4>
                <h6 class="card-subtitle">{{empresaSeleccionada.nombre}}</h6>
                <img class="img-thumbnail" [src]="empresaSeleccionada.img | imagen:'empresas'" class="imagen-med" alt="">
            </div>
        </div>
    </div>
</div>